:root {
  --color-main: #2a555b;
  --color-hover: #6fcce3;
  --color-text: #ffffff;
  --color3: #a2b5b8; /*bg-input*/
  --color4: rgb(26, 171, 255); /*color-input*/
  --color4-hover: #46cdcf;
  --color5: rgb(33, 39, 55);
  --color-bg: #2a555b;
  --color-item-active: #7a969b;
  --color-bg-listsong: rgb(33, 39, 55);
  --color-contrast: #f69953;
}

/* :root {
  --color-main: rgb(33, 36, 50);
  --color-hover: rgb(26, 171, 255);
  --color-text: rgb(127, 131, 141);
  --color3: rgb(49, 53, 74);
  --color4: rgb(26, 171, 255);
  --color4-hover: aqua;
  --color5: rgb(33, 39, 55);
  --color-bg: #a5a5a5;
} */
