:root {
  --color-main: rgb(33, 36, 50);
  --color-hover: rgb(26, 171, 255);
  --color-text: rgb(127, 131, 141);
  --color3: rgb(49, 53, 74);
  --color4: rgb(26, 171, 255);
  --color4-hover: aqua;
  --color5: rgb(33, 39, 55);
}

/* :root {
  --color-main: rgb(33, 36, 50);
  --color-hover: rgb(24, 121, 179);
  --color-text: rgb(127, 131, 141);
  --color3: rgb(49, 53, 74);
  --color4: rgb(26, 171, 255);
  --color4-hover: aqua;
  --color5: rgb(33, 39, 55);
} */
